@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #111827;
  }

  body {
    min-height: 100%;
    background-color: #111827;
    overflow-x: hidden;
  }
}
