@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-bg: #111827;
  }

  html {
    background-color: var(--app-bg);
  }

  body {
    min-height: 100%;
    background-color: var(--app-bg);
    overflow-x: hidden;
  }
}
